@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    border: 0;
    margin: 0;
}
header{
    top: 0;
    position: fixed;
    width: 100%;
}
header .cabecalho{
    display: flex;
    justify-content: space-around;
    
    background-color: black;
}

.cabecalho .searchLogo{
    display: flex;
    justify-content: space-between;
}
.cabecalho .searchLogo img{
    width: 130px;
    height: 70px;
}
#search{

    display: flex;
    align-items: center;
    border: 1xp solid #ccc;
    background-color: rgb(247, 240, 240);
    width: 220px;
    margin: 20px auto;
    border-radius: 20px;
    padding: 5px 10px;
    color: #4b4b4b;
    margin-left: 30px;
}
#searchInput{
    padding: 8px;
    border: none;
    background-color: transparent;
    width: 180px;
    height: 5px;
    outline: none;
}
#search label{
    height: 20px;
}

header nav{
    display: flex;
    align-items: center;
}
header nav ul a{
    padding: 5px;
    text-decoration: none;
    color: white;
    border: 1px solid transparent;
    font-family: 'Roboto', sans-serif;
}
header nav ul a:hover {
    text-decoration: underline ;
    transition: 1s ease;
}

/*Main*/
main{
    margin-top: 70px;
    background-image: url(../IMG/);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    
}
main h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 30px;
    margin-top: 100px;
}

main #mapa{
    margin-left: 200px;
}

main #info{
    padding-top: 180px;
    font-family:'Roboto', sans-serif;
    display: flex;
    justify-content: space-around;
    margin-bottom: px;

}
#info .endereco span{
    margin-bottom: 9px;
}

.email {
    display: flex;
    align-items: center;
    
}
.contact{
    display: flex;
    align-items: center;
}
.location{
    display: flex;
    align-items: center;
}

#info form{

    display: flex;
    flex-direction: column;
    width: 400px;
    justify-content: space-evenly;
}
#info form input, #info form textarea{
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: 'Roboto', sans-serif;
    width: 350px;
}
#info form button{
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 370px;
    font-family: 'Roboto', sans-serif;

}

/* Footer */
footer{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: #ccc;
    height: 200px;
}
#sec1{
    
    padding-top: 10px;
}
footer #sec1 figure img{
    width: 80px;
    margin-bottom: 10px;
    height: 50px;
}

#sec1 form{
    padding-bottom: 20px;
}
form #email{
    width: 200px;
    height: 30px;
    padding: 2px 30px;
    border-radius: 6px;
    border: 1px solid;
    
}
form #submit{
    width: 100px;
    height: 30px;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    color: #ccc;
    background-color: black;
}

#sec1 p{
    margin-bottom: 20px;
    color: white;
}

#sec2{
    padding-top: 10px;
}

#sec2 h3{
    margin-bottom: 10px;
    color: white;
}
#sec2  a{
    color: white;
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
}
#sec2 a:hover{
    text-decoration: underline;
}

#sec3{
    padding-top: 10px;
    text-align: center;
}

#sec3 h3{
    margin-bottom: 10px;
    color: black;
    text-align: center;
}


#sec3 a{
    text-decoration: none;
    color: white;
    
    width: 30px;
}

#sec3 a img{
    width: 30px;
    height: 30px;
    display: block;
    margin-bottom: 10px;
    border-radius: 10px;
}

#copyright{
    text-align: center;
    height: 50px;
    background-color: white;
    color: white;
    
}
#copyright p{
    padding-top: 10px;
    font-size: 14px;
    color: black;
}