@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    border: 0;
    margin: 0;
}
header{
    top: 0;
    position: fixed;
    width: 100%;
}
header .cabecalho{
    display: flex;
    justify-content: space-around;
    
    background-color: black;
}

.cabecalho .searchLogo{
    display: flex;
    justify-content: space-between;
}
.cabecalho .searchLogo img{
    width: 130px;
    height: 70px;
}
#search{

    display: flex;
    align-items: center;
    border: 1xp solid #ccc;
    background-color: rgb(247, 240, 240);
    width: 220px;
    margin: 20px auto;
    border-radius: 20px;
    padding: 5px 10px;
    color: #4b4b4b;
    margin-left: 30px;
}
#searchInput{
    padding: 8px;
    border: none;
    background-color: transparent;
    width: 180px;
    height: 5px;
    outline: none;
}
#search label{
    height: 20px;
}

header nav{
    display: flex;
    align-items: center;
}
header nav ul a{
    padding: 5px;
    text-decoration: none;
    color: white;
    border: 1px solid transparent;
    font-family: 'Roboto', sans-serif;
}
header nav ul a:hover {
    text-decoration: underline ;
    transition: 1s ease;
}

/*Main*/
main{
    margin-top: 70px;
    
}
main h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 30px;
    margin-top: 100px;
}

main #mapa{
    text-align: center;
}

main #info{
    margin-top: 80px;
    font-family:'Roboto', sans-serif;
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
    
}

.email {
    display: flex;
    align-items: center;
    
}
.contact{
    display: flex;
    align-items: center;
}
.location{
    display: flex;
    align-items: center;
}

#info form{
    display: flex;
    flex-direction: column;
    width: 300px;
   
}
#info form input, #info form textarea{
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: 'Roboto', sans-serif;
}
#info form button{
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}