@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    top:0;
    left:0;
    width:100%;
    position:fixed;
    height:70px;
    background:#fff;
    box-shadow:0 2px 4px rgba(0,0,0,0.2);
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 20px;
    z-index:10;
}

header img{
    height:50px;
}

nav ul{
    display:flex;
    gap:15px;
    list-style:none;
}

nav a{
    text-decoration:none;
    color:#000;
    padding:5px 10px;
    border-radius:4px;
}

nav a:hover{
    text-decoration:underline;
}

.hamburger{
    font-family:'Material Symbols Outlined';
    font-size:36px;
    cursor:pointer;
    display:none;
}

/* MENU MOBILE */
.menu{
    position:fixed;
    top:0;
    right:0;
    width:100%;
    height:100vh;
    background:rgba(0,0,0,0.5);
    z-index:20;
    display:none;
    align-items:flex-start;
    justify-content:flex-end;
}

.menu nav{
    background:#fff;
    width:250px;
    height:100%;
    padding-top:30px;
    box-shadow:-2px 0 5px rgba(0,0,0,0.2);
}

.menu nav ul{
    flex-direction:column;
}

.menu nav a{
    display:block;
    padding:10px;
    border-bottom:1px solid #eee;
    
}

.menu nav a:hover{
    background:#f4f4f4;
    text-decoration:none;
}

    /* RESPONSIVO */
@media(max-width:900px){
    nav{
        display: none;
    
    }
    .menu nav{
        display: block;
    }
    .hamburger{
        display:block;
    }
}

/* ----------------- FIM CABEÇALHO ----------------- */

.background{
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    width: 100%;
    height: 400px;
    background-image: url(../IMG/eventos/authentic-book-club-scene.jpg);
    background-size: cover;
    background-position: center ;
    opacity: 0.8; /* Ajusta a opacidade do fundo */
    z-index: -1; /* Garante que o fundo fique atrás do conteúdo */

    
}
.background h4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Courier New', Courier, monospace;
    
}
.background h2{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(219, 214, 214);
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Times New Roman', Times, serif;
    
}
main{
    margin: auto;
    margin-top: 400px;
    padding: 50px;
    background-color: white;
}

main .cardEventos1{
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}

main .cardEventos1 .card{
    height: 390px;
    background-color: #f8f3f3;
    width: 280px;
    
}

main .cardEventos1 img{
    height: 170px;
    width: 280px;
    
}

.cardEventos1 .card  figcaption{
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
}

.card  figcaption{
    text-align: center;
}
.cardEventos1 .card p{
    
    margin-top: 10px;
   
}

.card figcaption{
    padding-top: 30px;
}
.card figcaption h3{
    font-family: 'Crimson Text', serif;
    font-size: 24px;
    color: #033363;
}
.card figcaption .titulo{
    color: black;
}

.card figcaption .paragrafo{
    color: #4b4b4b;
    font-size: 14px;
}

.card figcaption .Local{
    color: #4b4b4b;
    font-size: 14px;
    font-weight: bold;
}

.card figcaption a{
    text-decoration: none;
    color: #033363;
    font-weight: bold;
}


/* ----------------- RODAPÉ -----------------*/
/* Rodapé */    
footer{
    background-color: #033363;
    color: white;
    text-align: center;
    padding: 15px 10px;
    margin-top: 50px;
    height: 280px;
}

footer .sessoes{
    display: flex;
    justify-content: space-around;
    /*gap: 50px;*/
    flex-wrap: wrap;
    height: 190px;
}
footer .linkscabecalho{
    margin-bottom: 10px;
    display: block;
    height: 110px;
}  

footer .linkscabecalho a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    display: block;
    margin: 5px 0;
}



footer .linkscabecalho a:hover{
    text-decoration: underline;
}

footer .redes-sociais{
    margin-bottom: 10px;
    height: 10px;
}

footer .redes-sociais a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    display: block;
    margin: 5px 0;
}

.redes-sociais a img{
    width: 30px;
    height: 30px;
    margin: 5px 5px;
    vertical-align: middle;

}



footer p{
    margin: 5px 0;
    font-size: 14px;
}
footer p:first-child{
    font-weight: bold;
}
footer p:last-child{
    font-size: 12px;
    color: #ccc;
}

/*responsicidade*/
@media (max-width: 600px) {
    main {
        padding: 20px;
        margin-top: 300px;
    }

    .background {
        height: 270px;
    }

    .background h2 {
        font-size: 32px;
        top: 25%;
        padding-bottom: 10px;

    }

    .background h4 {
        font-size: 18px;
        top: 60%;
    }

    main .cardEventos1 {
        flex-direction: column;
        align-items: center;
    }

    main .cardEventos1 .card {
        width: 90%;
        height: auto;
    }

    main .cardEventos1 img {
        width: 100%;
        height: auto;
    }

}

@media(max-width: 768px){
    .background{
        height: 300px;
    }
    .background h2{
        font-size: 36px;
    }
    .background h4{
        font-size: 25px;
        padding: 0 20px;
    }

    main .cardEventos1{
        width: 100%;
        height: auto;

    }

}

@media(max-width: 900px){
    .background{
        height: 350px;
    }
    .background h2{
        font-size: 40px;
    }

    .background h4{
        font-size: 28px;
        padding: 0 20px;
    }
}

@media(max-width: 1024px){
    .background{
        height: 380px;
    }
    .background h2{
        font-size: 44px;
    }

    .background h4{
        font-size: 30px;
        padding: 0 20px;
    }
}

@media(max-width: 1440px){
    .background{
        height: 420px;
    }
    .background h2{
        font-size: 49px;
    }

    .background h4{
        font-size: 36px;
        padding: 0 20px;
    }
}

@media(min-width: 1441px){
    .background{
        height: 500px;
    }
    .background h2{
        font-size: 60px;
    }

    .background h4{
        font-size: 40px;
        padding: 0 20px;
    }
}