@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.navbar {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff; /* Fundo Branco */
    padding: 15px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
    width: 100%;
    top: 0;
    z-index: 1000; /* Garante que fique acima de outros elementos */
}

.logo {
    font-size: 1.5rem;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}
.logo img {
    height: 60px; 
}
/* Estilo dos Links */
.nav-links ul {
    list-style: none;
    display: flex;
    transition: transform 0.3s ease-in-out; /* Transição Suave */
    
}

.nav-links li a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s; 
}

.nav-links li a:hover {
    background-color: #f0f0f0; 
    border-radius: 4px;
}

/* Estilo do Botão Hamburger (Inicialmente escondido no desktop) */
.hamburger {
    display: none; /* Esconde no desktop */
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    z-index: 1001; /* Garante que fique acima dos links no mobile */
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #333;
    transition: all 0.3s ease-in-out; /* Transição Suave para o X */
}
.btn-registo {
    background-color: #007bff;
    color: #fff !important;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: 700;
    margin-left: 20px;
    transition: background-color 0.3s ease;
}

/* Estilo para Conteúdo (Apenas para demonstração) */


/* MEDIA QUERY para telas menores (Responsividade) */
@media (max-width: 768px) {
    /* Exibe o botão hamburger */
    .hamburger {
        display: block;
    }

    header a img{
        height: 40px;
        width: 120px;
    }
    /* Esconde o menu de links no mobile por padrão */
    .nav-links {
        position: fixed;
        top: 0; /* Começa no topo */
        left: 0;
        height: 100vh;
        width: 60%; /* Ocupa 60% da tela */
        background-color: #ffffff; /* Fundo Branco para o menu lateral */
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
        
        /* Oculta o menu para a esquerda da tela com transição suave */
        transform: translateX(-100%); 
        transition: transform 0.3s ease-in-out;
        z-index: 1000;
    }

    /* Estilo do menu aberto */
    .nav-links.open {
        transform: translateX(0); /* Desliza para dentro com transição suave */
    }

    .nav-links ul {
        flex-direction: column;
        padding-top: 60px; /* Espaço para o header */
        align-items: flex-start;
    }

    .nav-links li {
        width: 100%;
        text-align: left;
    }
    
    .nav-links li a {
        padding: 15px 20px;
        border-bottom: 1px solid #eee; /* Linha divisória */
    }
}

main{
    margin-top: 70px;
    
} 

/*centro*/
 /* ======= ANIMAÇÕES ======= */
@keyframes fadeIn {
    from {
        opacity: 0; transform: translateY(20px);
    }
    to {
        opacity: 1; transform: translateY(0);
    }
}
.hero {
    background: linear-gradient( rgba(255,255,255,0.95) 0%, rgba(245,240,230,0.9) 5px),
                url('../IMG/ImagemInicio.jpg') center/cover no-repeat;
    text-align: center;
    color: #222;
    padding: 160px 10% 120px;
    animation: fadeIn 1s ease-out;

}

.hero h2 {
    font-size: 2.5rem;
    color: #111;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
}

.centro .hero button{
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    margin-left: 15px;
}
.centro .hero button:hover{
    background-color: #0056b3;
    transform: translateY(-2px);
}
.centro .hero a{
    text-decoration: none;
    color: white;
}
main article{
    padding: 20px;
    text-align: center;
    margin-bottom: 0;
    
}
main article .cardEventos1{
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}

main article .cardEventos1 .card{
    height: 470px;
    background-color: #f8f3f3;
    width: 270px;
    
}

main article .cardEventos1 img{
    height: 280px;
    width: 260px;
}

article .cardEventos1 .card  figcaption{
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
}

article .card  figcaption{
    text-align: center;
}
article .cardEventos1 .card p{
    margin-top: 10px
}

article .card figcaption{
    padding-top: 30px;
}
article .card figcaption h3{
    font-family: 'Crimson Text', serif;
    font-size: 24px;
    color: #033363;
}
article .card figcaption .titulo{
    color: black;
}

article .card figcaption .paragrafo{
    color: #4b4b4b;
    font-size: 14px;
}

article .card figcaption .Local{
    color: #4b4b4b;
    font-size: 14px;
    font-weight: bold;
}

article .card figcaption a{
    text-decoration: none;
    color: #033363;
    font-weight: bold;
}
article button {
    text-decoration: none;
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 15px;

}

article button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

article button a{
    text-decoration: none;
    color: white;
}

/* CULTOS */
main .cultos{
    margin: auto 10px;
    padding: 20px;
    flex-wrap: wrap;
    text-align: center;
    height: 300px;
}

.cultos h5{
    color: black;
    font-size: 1.3rem;
    text-align: center;
    font-family: "Segoe UI", Arial, sans-serif;
}

.cultos .dias{
    width: 700px;
    height: 210px;
    font-family: 'Crimson Text', serif;
    padding-top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(124, 35, 35, 0.1);
    margin: 20px auto;
    display: flex;
    gap: 50px;
    justify-content: center;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.dias .dia{
    background: rgba(255,255,255,0.08);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    transition: transform 0.3s;
    height: 160px;

}

.dias .dia:hover {
    transform: translateY(-5px);
}

.cultos .dias h3{
    font-size: 20px;
    color: chocolate;
    margin-top: 10px;
}

.cultos .dias p{
    font-size: 18px;
    color: #333;
    margin-top: 10px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

/* icon whatsapp */
.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}
.whatsapp img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}   

.whatsapp img:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/*Faq*/

/* Vídeo em Destaque */
.video {
    margin-top: 100px;
    text-align: center;
} 

.video h2 {
    font-size: 1.3rem;
    color: #111;
    margin-bottom: 20px;
    
}

.video .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.video iframe {
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}


/*testemuno*/

.testemunho{
     background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    padding: 50px 20px;
    text-align: center;
    margin-top: 100px;
    margin: 50px 50px;
    border-radius: 8px;
}

.testemunho h2{
    font-size: 1.3rem;
    color: #111;
    margin-bottom: 20px;
}

.videos{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.videos iframe{
    border: none;
    border-radius: 8px;
    height: 220px;
    width: 390px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.localizacao{
    margin: 50px 50px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.localizacao iframe{
    width: 350px;
    height: 200px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    margin-top: 10px;
}

.contacto{
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

.contacto h2{
    font-size: 1.3rem;
    color: #111;
    margin-bottom: 20px;
}

.contacto p{
    font-size: 1rem;    
    color: #222;
    margin: 10px 0;
    font-weight: bold;
}

.contacto a{
    text-decoration: none;
    color: #033363;
    font-weight: bold;
    
}

/* Rodapé */    

.footer {
    background-color: #0B2B4C; /* Azul Marinho Escuro */
    color: #ffffff;
    margin-top: 40px;
    padding: 40px 20px 0; /* Padding superior e lateral */
    font-family: Arial, sans-serif;
}

/* Container principal (usando Flexbox para responsividade) */
.footer-container {
    max-width: 1200px; /* Limite de largura para desktop */
    margin: 0 auto;
    display: flex; /* Habilita o layout em coluna/linha */
    flex-wrap: wrap; /* Permite que as colunas quebrem */
    justify-content: space-between; /* Distribui o espaço entre as colunas */
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* Separador sutil */
}

.footer-section {
    width: 20%; /* Define a largura de cada seção para desktop (25% se for 4 colunas) */
    margin-bottom: 20px;
}

/* Estilo para links */
.footer a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease; /* Efeito de hover suave */
}

.footer a:hover {
    color: #ffd700; /* Destaque, como um amarelo/laranja sutil para combinar com o logo */
}

/* Títulos das Seções */
.footer-section h4 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #f7f7f7;
}

/* Lista de links */
.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 8px;
}

/* Logo */
.footer-logo {
    max-width: 150px; /* Ajuste o tamanho da logo */
    margin-bottom: 15px;
}

/* Seção de Redes Sociais */
.social-icons a {
    font-size: 24px;
    margin-right: 15px;

    
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.social-icons a img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.social-icons a:hover {
    
    color: #0B2B4C; /* Texto escuro no hover */
}

/* Faixa de Copyright (rodapé inferior) */
.footer-bottom {
    text-align: center;
    padding: 20px 0;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
}

/* Responsividade (Para telas pequenas) */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column; /* Empilha as colunas */
    }

    .footer-section {
        width: 100%; /* Ocupa a largura total */
        text-align: center;
        margin-bottom: 30px;
    }

    .footer-brand, .footer-social {
        order: -1; /* Move a marca e redes sociais para o topo */
    }
    
    .footer-brand {
        margin-bottom: 40px;
    }

    .footer-links ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-links ul li {
        width: 50%; /* Faz com que os links fiquem lado a lado em 2 colunas */
        margin-bottom: 5px;
    }

    .social-icons {
        text-align: center;
    }
}

/*responsividade*/

@media(max-width: 480px){
    .localizacao iframe{
        width: 300px;
        margin-bottom: 20px;
    }
}
@media(max-width:600px){
    .hero{
        height: 400px;
    }
    .hero h2{
        padding-top: 5px;
        font-size: 2rem;
    }
    .hero p{
        font-size: 1rem;
    }
    main article .cardEventos1{
        flex-direction: column;
        align-items: center;
    }
    
    main .cultos{
        padding: 20px 5%;
        height: auto;
    }
    .cultos .dias{
        width: 100%;
        flex-direction: column;
        height: auto;
        gap: 20px;
        padding: 10px;
    }
    .cultos .dias .dia{
        width: 80%;
        margin: 0 auto;
    }

    /* faq */
    .mainConteiner{
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .faq-container{
        width: 100%;
    }

    .mainConteiner .video{
        width: 100%;
        padding: 0 10px;
    }

    .mainConteiner .video-container{
        flex-direction: column;
        gap: 20px;
        align-items: center;
        width: 100%;
        padding: 0 10px;
    }
    /* testemunho */
    .testemunho{
        padding: 20px;
    }
    .testemunho .videos{
        flex-direction: column;
        align-items: center;
    }
    .testemunho .videos iframe{ 
        margin-bottom: 20px;
        width: 100%;
        
        
    }
    /* video destaque */
    .video iframe{
        width: 100%;
        height: 100%;
    }

    /* localizacao */
    .localizacao{
        flex-direction: column;
        align-items: center;
    }

    .localizacao iframe{
        width: 300px;
        height: 200px;
        margin-bottom: 20px;
    }
    
   
}



@media (max-width: 768px) {
    .hero {
        padding: 80px 5% 80px;
        height: 360px;
    }

    .hero h2 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }

    main article .cardEventos1 {
        flex-direction: column;
        align-items: center;
    }

    main .cultos {
        padding: 20px 5%;
        height: auto;
    }

    .cultos .dias {
        width: 100%;
        flex-direction: column;
        height: auto;
        gap: 20px;
        padding: 10px;
    }

    .cultos .dias .dia {
        width: 80%;
        margin: 0 auto;
    }

    
    .mainConteiner .video {
        width: 100%;
        padding: 0 10px;
    }

    .mainConteiner .video-container {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        width: 100%;
        padding: 0 10px;
    }
    /* testemunho */
    .testemunho{
        padding: 20px;
    }
    .testemunho .videos {
        flex-direction: column;
        align-items: center;
    }
    .testemunho .videos iframe{ 
        margin-bottom: 20px;
        width: 100%;
        
        
    }
    /* video destaque */
    .video iframe {
        width: 100%;
    }

    /* localizacao */
    .localizacao {
        flex-direction: column;
        align-items: center;
    }

    .localizacao iframe {
        width: 100%;
        height: 200px;
        margin-bottom: 20px;
    }
    
    
}

@media(max-width:1024px){
   
    main article .cardEventos1{
        align-items: center;
    }
}

@media(min-width:1200px){
    .hero{
        
        height: 540px;
        margin: auto;
    }
    main article .cardEventos1{
        width: 1200px;
        margin: auto;
    }
    .mainConteiner .video-container {
        width: 1200px;
        margin: auto;
    }
    .mainConteiner .video {
        width: 1200px;
        
    }
    .localizacao {
        width: 1200px;
        margin: auto;
    }
    
}