@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    border: 0;
    margin: 0;
}
header{
    top: 0;
    position: fixed;
    width: 100%;
}
header .cabecalho{
    display: flex;
    justify-content: space-around;
    background-color: white;
}

.cabecalho .searchLogo{
    display: flex;
    justify-content: space-between;
}
.cabecalho .searchLogo img{
    width: 130px;
    height: 70px;
}


header nav{
    display: flex;
    align-items: center;
}
header nav ul a{
    padding: 5px;
    text-decoration: none;
    color: black;
    border: 1px solid transparent;
    font-family: 'Roboto', sans-serif;
}
header nav ul a:hover {
    text-decoration: underline ;
    transition: 1s ease;
}

/* Main*/

main{
    background-image: url(../IMG/8.jpg);
    height: 580px;
    width: 100%;
    background-size: cover  ;
    background-position: bottom ;
    background-repeat: no-repeat;
}
main{
    margin-top: 70px;
    width: 100%;
    
}
main #content{
    padding-top: 300px;
    margin-left: 340px;
    
}
#content h1{
    margin-left: 65px;
    color: #ccc;
    margin-bottom: 50px;
}
main .butoes{
    padding-left: 50px;
    
    width: 400px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.butoes a{
    width: 150px;
    height: 30px;
    text-decoration: none;
    padding-top: 10px;
    background-color: black;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-weight: bolder;
}
.butoes a:hover{
    box-shadow: 6px 10px 19px 8px rgb(22, 22, 22);
}

/*footer*/

footer{
    display: flex;
    justify-content: space-around;
}
#sec1{
    
    padding-top: 10px;
}
footer #sec1 figure img{
    width: 80px;
    margin-bottom: 10px;
    height: 50px;
}

#sec1 form{
    padding-bottom: 20px;
}
form #email{
    width: 200px;
    height: 30px;
    padding: 2px 30px;
    border-radius: 6px;
    border: 1px solid;
    
}
form #submit{
    width: 100px;
    height: 30px;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    color: #ccc;
    background-color: black;
}

#sec1 p{
    margin-bottom: 20px;
}

#sec2{
    padding-top: 10px;
}

#sec2 h3{
    margin-bottom: 10px;
    color: black;
}
#sec2  a{
    color: black;
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
}
#sec2 a:hover{
    text-decoration: underline;
}

#sec3{
    padding-top: 10px;
    text-align: center;
}

#sec3 h3{
    margin-bottom: 10px;
    color: black;
    text-align: center;
}


#sec3 a{
    text-decoration: none;
    color: black;
    
    width: 30px;
}

#sec3 a img{
    width: 30px;
    height: 30px;
    display: block;
    margin-bottom: 10px;
    border-radius: 10px;
}
#sec3 a:hover{
    box-shadow: 6px 10px 19px 8px rgb(22, 22, 22);
}
#copyright{
    text-align: center;
    height: 150px;
    background-color:  black;
    color: white;
    border: none;
    
}
#copyright p{
    padding-top: 100px;
    font-size: 14px;
}