@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    top:0;
    left:0;
    width:100%;
    position:fixed;
    height:70px;
    background:#fff;
    box-shadow:0 2px 4px rgba(0,0,0,0.2);
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 20px;
    z-index:10;
}

header img{
    height:50px;
}

nav ul{
    display:flex;
    gap:15px;
    list-style:none;
}

nav a{
    text-decoration:none;
    color:#000;
    padding:5px 10px;
    border-radius:4px;
}

nav a:hover{
    text-decoration:underline;
}

.hamburger{
    font-family:'Material Symbols Outlined';
    font-size:36px;
    cursor:pointer;
    display:none;
}

/* MENU MOBILE */
.menu{
    position:fixed;
    top:0;
    right:0;
    width:100%;
    height:100vh;
    background:rgba(0,0,0,0.5);
    z-index:20;
    display:none;
    align-items:flex-start;
    justify-content:flex-end;
}

.menu nav{
    background:#fff;
    width:250px;
    height:100%;
    padding-top:30px;
    box-shadow:-2px 0 5px rgba(0,0,0,0.2);
}

.menu nav ul{
    flex-direction:column;
}
.menu nav a{
    display:block;
    padding:10px;
    border-bottom:1px solid #eee;
    
}
.menu nav a:hover{
    background:#f4f4f4;
    text-decoration:none;
}

    /* RESPONSIVO */
@media(max-width:768px){
    nav{
        display: none;
    
    }
    .menu nav{
        display: block;
    }
    .hamburger{
        display:block;
    }
}

/*main*/

main{
    margin-top:70px;
    padding:20px;
    min-height:calc(100vh - 280px);
    vertical-align: middle;
}

/* From Uiverse.io by Yaya12085 */ 
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  margin: 100px auto;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 28px;
  color: royalblue;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: royalblue;
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: royalblue;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message, .signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}


.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}

.submit {
  border: none;
  outline: none;
  background-color: royalblue;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
  cursor: pointer;
}

.submit:hover {
  background-color: rgb(56, 90, 194);
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

/* Rodapé */    
footer{
    background-color: #033363;
    color: white;
    text-align: center;
    padding: 15px 10px;
    margin-top: 50px;
    height: 280px;
}

footer .sessoes{
    display: flex;
    justify-content: space-around;
    /*gap: 50px;*/
    flex-wrap: wrap;
    height: 190px;
}
footer .linkscabecalho{
    margin-bottom: 10px;
    display: block;
    height: 110px;
}  

footer .linkscabecalho a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    display: block;
    margin: 5px 0;
}

footer .linkscabecalho a:hover{
    text-decoration: underline;
}

footer .redes-sociais{
    margin-bottom: 10px;
    height: 10px;
}

footer .redes-sociais a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    display: block;
    margin: 5px 0;
}
.redes-sociais a img{
    width: 30px;
    height: 30px;
    margin: 5px 5px;
    vertical-align: middle;

}

footer p{
    margin: 5px 0;
    font-size: 14px;
}
footer p:first-child{
    font-weight: bold;
}
footer p:last-child{
    font-size: 12px;
    color: #ccc;
}



@media(max-width:768px){
    footer .sessoes{
        height: auto;
    }
    footer .linkscabecalho{
        height: auto;
    }

}

@media(max-width:1024px){
    footer{
        height: auto;
        bottom: 0;
    }
    footer .linkscabecalho{
        height: auto;
    }
    footer .redes-sociais{
        height: auto;
    }
}