@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    top:0;
    left:0;
    width:100%;
    position:fixed;
    height:70px;
    background:#fff;
    box-shadow:0 2px 4px rgba(0,0,0,0.2);
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 20px;
    z-index:10;
}

header img{
    height:50px;
}

nav ul{
    display:flex;
    gap:15px;
    list-style:none;
}

nav a{
    text-decoration:none;
    color:#000;
    padding:5px 10px;
    border-radius:4px;
}

nav a:hover{
    text-decoration:underline;
}

.hamburger{
    font-family:'Material Symbols Outlined';
    font-size:36px;
    cursor:pointer;
    display:none;
}

/* MENU MOBILE */
.menu{
    position:fixed;
    top:0;
    right:0;
    width:100%;
    height:100vh;
    background:rgba(0,0,0,0.5);
    z-index:20;
    display:none;
    align-items:flex-start;
    justify-content:flex-end;
}

.menu nav{
    background:#fff;
    width:250px;
    height:100%;
    padding-top:30px;
    box-shadow:-2px 0 5px rgba(0,0,0,0.2);
}

.menu nav ul{
    flex-direction:column;
}
.menu nav a{
    display:block;
    padding:10px;
    border-bottom:1px solid #eee;
    
}
.menu nav a:hover{
    background:#f4f4f4;
    text-decoration:none;
}

    /* RESPONSIVO */
@media(max-width:900px){
    nav{
        display: none;
    
    }
    .menu nav{
        display: block;
    }
    .hamburger{
        display:block;
    }
}

 /*Main*/

main{
    margin: auto;
    margin-top: 70px;

    font-family: 'Roboto', sans-serif;
    background-color: white;
}


/*fundo*/

.hero {
    background: linear-gradient( rgba(245,240,230,0.9) ),
                url('../IMG/IMG_0149.jpg') top/cover no-repeat;
    text-align: center;
    color: #222;
    padding: 160px 10px ;
    animation: fadeIn 1s ease-out;

}

.hero h2 {
    font-size: 1.5rem;
    color: #111;
    margin-bottom: 20px;
    font-family: 'Crimson Text', serif;
    text-transform: uppercase;
    font-weight: bold;

}


main #conteudoSobre{
    margin-top: 40px;
    padding: 20px;
    display: flex;
    border-radius: 10px;
    flex-wrap: wrap;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
}
main #conteudoSobre :where(.nossaFe, .nossaMissao){
    color: black;
    text-align: center;
    padding: 20px;
    width: 400px;
    margin: 0 auto;
    
}
main #conteudoSobre :where(.nossaFe, .nossaMissao) h1{
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #34495e;
    
  font-family: 'Crimson Text', serif;

  text-transform: uppercase;


}

main #conteudoSobre :where(.nossaFe, .nossaMissao) p{
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    font-family: 'Roboto', sans-serif;
}

/*cultos*/
.horarios{
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    color: #34495e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    border-radius: 10px;
    max-width: 900px;
    background: linear-gradient(135deg, #ffffff 0%, #fbf7f0 40%, #f4e7c8 100%);
    color: white;
    margin: 40px auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background: rgba(255,255,255,0.08);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);}
.card h2 {
    font-size: 1.4rem;
    margin-bottom: 10px;
    color: chocolate;
}

.card p {
    font-size: 1rem;
    margin: 5px 0;
    line-height: 1.5;
    color: #333;
}


/*congregações*/
.congregacoes{
    margin-top: 50px;
    padding: 20px;
    color: #34495e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.congregacoes h1{
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #34495e;
    font-family: 'Crimson Text', serif;
    text-transform: uppercase;
}



.congregacoes .informacoes{
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    background: linear-gradient(135deg, #ffffff 0%, #fbf7f0 40%, #f4e7c8 100%);
}

.informacoes span{
    display: block;
    background: rgba(255,255,255,0.08);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    transition: transform 0.3s;
}
span:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}

span p{
    font-size: 1rem;
    margin: 9px 0;
    color: #333;
}
p a{
    color: #5198df;
    text-decoration: none;
}

/* ------------------ ANIMAÇÃO DE ENTRADA ------------------ */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.card {
  animation: fadeInUp 0.6s ease forwards;
}

/* Rodapé */    
footer{
    background-color: #033363;
    color: white;
    text-align: center;
    padding: 15px 10px;
    margin-top: 50px;
    height: 280px;
}

footer .sessoes{
    display: flex;
    justify-content: space-around;
    /*gap: 50px;*/
    flex-wrap: wrap;
    height: 190px;
}
footer .linkscabecalho{
    margin-bottom: 10px;
    display: block;
    height: 110px;
}  

footer .linkscabecalho a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    display: block;
    margin: 5px 0;
}



footer .linkscabecalho a:hover{
    text-decoration: underline;
}

footer .redes-sociais{
    margin-bottom: 10px;
    height: 10px;
}

footer .redes-sociais a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    display: block;
    margin: 5px 0;
}

.redes-sociais a img{
    width: 30px;
    height: 30px;
    margin: 5px 5px;
    vertical-align: middle;

}



footer p{
    margin: 5px 0;
    font-size: 14px;
}
footer p:first-child{
    font-weight: bold;
}
footer p:last-child{
    font-size: 12px;
    color: #ccc;
}

/*Responsicidade*/

@media(max-width: 600px){
    main .centro .hero{
        padding-top: 60px;
    }
    main #conteudoSobre :where(.nossaFe, .nossaMissao){
        width: 100%;
    }
    main .congregacoes .informacoes{
        grid-template-columns: 1fr;
        width: 330px;
        padding: 0 20px;
        height: auto;
        
    }
    
}

@media(max-width: 760px){
    main .hero{
        padding-top: 100px;
        
    }
    .hero h2{
        font-size: 1.2rem;
    }
}

@media(max-width: 1024px){
    main .centro{
        height: auto;
        
    }

    .hero h2{
       margin-top: 50px;
    }
    

}

@media(main-width: 1025px){
    main .centro{
        height: auto;
        
    }

    .hero h2{
       margin-top: 50px;
    }
    .container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

}