@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&display=swap');
*{
    padding: 0;
    border: 0;
    margin: 0;
}
header{
    top: 0;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid;
}
header .cabecalho{
    display: flex;
    justify-content: space-around;
    
    background-color: white;
}

.cabecalho .searchLogo{
    display: flex;
    justify-content: space-between;
}
.cabecalho .searchLogo img{
    width: 130px;
    height: 70px;
}
#search{
    display: flex;
    align-items: center;
    border: 1xp solid #ccc;
    background-color: rgb(247, 240, 240);
    width: 200px;
    margin: 20px auto;
    border-radius: 20px;
    padding: 5px 10px;
    color: #4b4b4b;
    margin-left: 30px;
}
#searchInput{
    padding: 8px;
    border: none;
    background-color: transparent;
    width: 120px;
    height: 5px;
    outline: none;
}
#search label{
    height: 20px;
}

header nav{
    display: flex;
    align-items: center;
}
header nav ul a{
    padding: 5px;
    text-decoration: none;
    color: black;
    border: 1px solid transparent;
    font-family: 'Roboto', sans-serif;
}
header nav ul a:hover {
    text-decoration: underline ;
    transition: 1s ease;
}


 /*Main*/

main{
    margin: auto;
    margin-top: 70px;
    padding: 50px;
    font-family: 'Roboto', sans-serif;
    background-color: white;
}


/*fundo*/

main .background{
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    width: 100%;
    height: 350px;
    background-image: url(../IMG/Sobre/7.jpg);
    background-size: cover;
    background-position: center ;
    opacity: 0.8; /* Ajusta a opacidade do fundo */
    
}
main .background h4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Courier New', Courier, monospace;
    
}
main #conteudoSobre{
    margin-top: 400px;
    padding: 20px;
    display: flex;
    border-radius: 10px;
    flex-wrap: wrap;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
}
main #conteudoSobre :where(.nossaFe, .nossaMissao){
    color: black;
    text-align: center;
    padding: 20px;
    width: 400px;
    margin: 0 auto;
    
}
main #conteudoSobre :where(.nossaFe, .nossaMissao) h1{
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #34495e;
    
  font-family: 'Crimson Text', serif;

  text-transform: uppercase;


}

main #conteudoSobre :where(.nossaFe, .nossaMissao) p{
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    font-family: 'Roboto', sans-serif;
}

/*cultos*/
.horarios{
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    color: #34495e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    border-radius: 10px;
    
    
      max-width: 900px;
      background: linear-gradient(135deg, #2c3e50, #34495e);
      color: white;
      margin: 40px auto;
      padding: 20px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
    }

    .card {
      background: rgba(255,255,255,0.08);
      padding: 20px;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.2);
      transition: transform 0.3s;
    }

    .card:hover {
      transform: translateY(-5px);
    }

    .card h2 {
      font-size: 1.4rem;
      margin-bottom: 10px;
      color: chocolate;
    }

    .card p {
      font-size: 1rem;
      margin: 5px 0;
      line-height: 1.5;
    }

main .sobre{
    border-radius: 8px;
    margin-top: 130px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 400px;
    flex-wrap: wrap;
}
.equipe{
    margin-top: 40px;
    padding: 100px;
}

.equipe .membros1{
    display: flex;
    justify-content: space-around;
}
.equipe .membros1 div:hover{
    transform: scale(1.05);
    transition: 0.3s ease;

}

.equipe .membros1 .informacao{
    width: 230px;
    height: 330px;
    background-color: #f0f0f0;
    padding: 20px;
    line-height: 25px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);

}
.equipe .membros1 .informacao figure{
    display: flex;
    justify-content: space-around;
    padding: 5px;
}
.equipe .membros1 .informacao img{
    padding-top: 120px;
    width: 35px;
    height: 35px;
    
    
}

.equipe .membros1 .informacao1{
    background-image: url(../IMG/Sobre/IMG_0004.jpg);
}

.equipe .membros1 :where(.informacao1){
    width: 230px;
    height: 310px;
    padding: 20px;          
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    
}
.equipe .membros1 :is( .informacao1 h3, .informacao2 h3){
    font-size: 20px; 
    margin-top: 260px;
}

.equipe .membros div:hover{
    transform: scale(1.05);
    transition: 0.3s ease;

}


/*Footer*/

footer{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: #ccc;
    height: 200px;
}
#sec1{
    
    padding-top: 10px;
}
footer #sec1 figure img{
    width: 80px;
    margin-bottom: 10px;
    height: 50px;
}

#sec1 form{
    padding-bottom: 20px;
}
form #email{
    width: 200px;
    height: 30px;
    padding: 2px 30px;
    border-radius: 6px;
    border: 1px solid;
    
}
form #submit{
    width: 100px;
    height: 30px;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    color: #ccc;
    background-color: black;
}

#sec1 p{
    margin-bottom: 20px;
    color: white;
}

#sec2{
    padding-top: 10px;
}

#sec2 h3{
    margin-bottom: 10px;
    color: white;
}
#sec2  a{
    color: white;
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
}
#sec2 a:hover{
    text-decoration: underline;
}

#sec3{
    padding-top: 10px;
    text-align: center;
}

#sec3 h3{
    margin-bottom: 10px;
    color: black;
    text-align: center;
}


#sec3 a{
    text-decoration: none;
    color: white;
    
    width: 30px;
}

#sec3 a img{
    width: 30px;
    height: 30px;
    display: block;
    margin-bottom: 10px;
    border-radius: 10px;
    
}

#copyright{
    text-align: center;
    height: 50px;
    background-color: white;
    color: white;
    
}
#copyright p{
    padding-top: 10px;
    font-size: 14px;
    color: black;
}